.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.size {
    font-size: 1.1rem;
    margin-right: 0.7rem;
}

.textleft {
    text-align: left;
    margin-bottom: .625rem;
}
.address {
    border-top: 1px solid #c4c4c4;
    margin: 0 .625rem;
    padding: 1rem
}