.marquee-container {
    width: 100%;
    overflow: hidden;
    /* 隐藏溢出的内容 */
    white-space: nowrap;
    /* 防止内容换行 */
    box-sizing: border-box;
    padding: 10px 0;
    background-color: #f0f0f0;
}

.marquee-content {
    display: inline-block;
    /* 使所有项目排成一行 */
    /* 关键动画设置：名称 时长 速度曲线 重复次数 */
    animation: marquee-scroll 15s linear infinite;
    font-size: 0;
}

.marquee-item {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    height: 200px;
    width: 200px;

    background-color: #ddd;
    margin-right: 30px;
    /* 项目间距 */
    border-radius: 4px;
}

/* 鼠标悬停时暂停 */
.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}

/* 使用新的 is-paused 类来暂停动画 */
.marquee-content.is-paused {
    animation-play-state: paused;
}

/* 定义恒速滚动动画 */
@keyframes marquee-scroll {
    0% {
        /* 起点 */
        transform: translateX(0%);
    }

    100% {
        transform: translateX(var(--marquee-distance));
    }
}

[data-footer-type='image'] {
    width: 200px;
    height: 220px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}