/* 导航栏下方备注信息 */
.about {
    width: 70%;
    margin: 0.8rem auto;
    font-size: .75rem;
    line-height: 1.3rem;
    text-align: center;
    color: #1d1d1f;
}

.mainBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner {
    position: relative;
    height: 31.25rem;
    overflow: hidden;
}

.bannerInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 90%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* gap: 5rem; */
}

.boxitem {
    display: flex;
    justify-content: space-between;
}

.footerSwiper {
    margin-bottom: 20px;
}
/* mobile */
@media only screen and (max-width: 768px) {
    [ data-type='selectBox'] {
        width: 100%;
        height: 560px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    [ data-type='selectLogoBox'] {
        width: 100%;
        height: 220px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    [data-type-item='safe'] {
        background-image: url(./../../../assets/images/safe/index.jpg);
    }

    [data-type-item='logo'] {
        background-image: url(./../../../assets/images/logo/logo.png);
    }

    [data-type-item='fugu'] {
        background-image: url(./../../../assets/images/fugu/index.jpg);
    }

    [data-type-item='kafei'] {
        background-image: url(./../../../assets/images/kafei/index.jpg);
    }

    [data-type-item='sha'] {
        background-image: url(./../../../assets/images/sha/index.jpg);
    }
}

@media only screen and (max-width: 820px) {
    [ data-type='selectBox'] {
        width: 100%;
        height: 800px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    [ data-type='selectLogoBox'] {
        width: 100%;
        height: 500px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    [data-type-item='safe'] {
        background-image: url(./../../../assets/images/safe/index.jpg);
    }

    [data-type-item='logo'] {
        background-image: url(./../../../assets/images/logo/logo.png);
    }

    [data-type-item='fugu'] {
        background-image: url(./../../../assets/images/fugu/index.jpg);
    }

    [data-type-item='kafei'] {
        background-image: url(./../../../assets/images/kafei/index.jpg);
    }

    [data-type-item='sha'] {
        background-image: url(./../../../assets/images/sha/index.jpg);
    }
}

/* 
@media only screen and (max-width: 768px) {
    .banner {
        width: 100%;
        height: 500px;
        background-size: 768px 500px;
        background-repeat: no-repeat;
        background-image: url(./../../../assets/ju1.jpg);
    }
}

@media only screen and (max-width: 820px) {
    .banner {
        width: 100%;
        height: 500px;
        background-size: 820px 500px;
        background-repeat: no-repeat;
        background-image: url(./../../../assets/cl1.jpg);
    }
}

@media only screen and (min-width: 820px) and (max-width: 1069px) {
    .banner {
        margin: 0 auto;
        width: 100%;
        height: 500px;
        background-size: 2600px 500px;
        background-repeat: no-repeat;
        background-image: url(./../../../assets/ju1.jpg);
    }
}

@media only screen and (min-width: 1069px) {
    .banner {
        width: 100%;
        height: 500px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(./../../../assets/ju2.jpg);
        left: unset;
        right: unset;
        -webkit-transform: unset;
        transform: unset
    }
} */

/* 淡入动画 */
.fadeinup {
    opacity: 0;
    transform: translateY(2.5rem);
    animation: fadeInUp 2s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(2.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}