nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    height: 3rem;
    font-size: 1.1rem;
    background-color: rgba(245, 245, 247, .8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.content {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .7rem;
    width: 100%;
    max-width: 1024px;
}

.contentDraw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    font-size: 1rem;
    margin-left: 2.5rem;
}

.hiddenMenu {
    display: hidden;
}

@media (min-width: 834px) {
    .hiddenMenu {
        display: none;
    }

    .content {
        visibility: visible;
    }
}