.nav {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    padding: 0 2.5rem;
    height: 4.5rem;
}

.logo {
    color: black;
    font-size: 2rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-weight: 100;
    font-size: 2rem;
    color: black;
}

.content {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    max-width: 1024px;
}

.contentDraw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    width: 50%;
    max-width: 64rem;
    margin-left: 1.875rem;
    gap: .9375rem;
    font-weight: 300;
}

.hiddenMenu {
    display: hidden;
}



@media (min-width: 834px) {
    :root {
        font-size: 8px;
    }

    .hiddenMenu {
        display: none;
    }

    .content {
        visibility: visible;
    }
}