* {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    align-items: flex-end;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-wrap: wrap;

    position: fixed;
    position: absolute;
    position: relative;
    position: sticky;

    display: none;
    visibility: hidden;

    width: 2em;
    height: 13rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    display: grid;
    place-items: center;


}

div p {}

div>span {}

/* 盒子塌陷 、清楚浮动*/
/* 触发bfc */
/* 块级格式化上下文 */
div {
    overflow: hidden;
    float: left;
    position: absolute;
    position: fixed;
}

/* 伪元素 */
::after {
    content: '';
    display: block;
    clear: both;
}