.narrator {
    width: 70%;
    margin: 1.5rem auto;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.ipde {
    margin: 0 auto;
    width: 30%;
    height: 600px;
}

/* .pictures {
    display: flex;
    align-items: center;
    margin: 0 auto;
} */