:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;
  min-width: 335px;
}

a {
  font-weight: 500;
  color: #06c;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
/* 根据系统自适应设置背景色 */
@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
