.nav {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    padding: 0 2.5rem;
    height: 5rem;
    background-color: #f5f5f8;

}

.logo {
    color: black;
    font-size: 2rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-weight: 100;
    font-size: 2rem;
}

.content {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.5rem;
    width: 100%;
    max-width: 1024px;
}

@media (min-width: 834px) {
    :root {
        /* 基础字体变为 8px，则 1rem = 8px */
        font-size: 8px;
        /* (8px/16px) * 100% = 50% */
    }

    .content {
        visibility: visible;
    }
}